/* Базовый блок кнопки */
.button {
    width: 60px;
    height: 60px;   
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease;
    color: currentColor;
}

.button--size-lg {
    width: 48px;
    height: 48px;
}

.button--size-s {
    width: 36px;
    height: 36px;
.button:hover .icon {
    background-color: var(--color-bg-secondary);
}

.button--disabled {
    background: var(--color-border);
    cursor: not-allowed;
}

.button--disabled:hover {
    background: var(--color-border);
    color: currentColor;
}

.action-button {
    background: var(--color-accent-primary);
    /* cursor: not-allowed;  */
}

.button:disabled:hover {
    /* background: var(--color-border);  */
}

.action-button:hover {
    background: var(--color-accent-primary-hover);
    color: var(--color-text-secondary);
}

.menu-button {
    background: var(--color-bg-secondary);
    backdrop-filter: blur(10px);
}

.menu-button:hover {
    background: var(--color-border);
    color: currentColor;
.icon {
    width: 36px;
    height: 36px;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-size: contain;
    mask-size: contain;
    background-color: var(--color-bg-primary);
}