<div class='chat-item'>
  <div class='chat-avatar'>
    <div class='avatar-placeholder'>{{placeholder}}</div>
  </div>
  <div class='chat-info'>
    <div class='chat-header'>
      <div class='chat-name'>{{name}}</div>
      <div class='chat-time'>{{last-message-date}}</div>
    </div>
    <div class='chat-preview'>{{last-message}}</div>
  </div>
</div>