<div class="signup-block">
    <h1>Регистрация</h1>

    <form id="signup" action="" class="signup-form">
        <div class="input-group">
            <input type="text" name="phone_number" class="signup-input" placeholder="Введите номер телефона">
            <div class="error-message" data-field="phone_number"></div>
        </div>

        <div class="input-group">
            <input type="email" name="email" class="signup-input" placeholder="Введите почту">
            <div class="error-message" data-field="email"></div>
        </div>
        
        <div class="input-group">
            <input type="text" name="username" class="signup-input" placeholder="Введите логин">
            <div class="error-message" data-field="username"></div>
        </div>
        
        <div class="input-group">
            <input type="text" name="name" class="signup-input" placeholder="Введите имя">
            <div class="error-message" data-field="name"></div>
        </div>
        
        <div class="input-group">
            <input type="password" name="password" id="passwordInput" class="signup-input" placeholder="Введите пароль">
            <button type="button" class="toggle-password" id="togglePassword">
                👁️
            </button>
            <div class="error-message" data-field="password"></div>
        </div>
        
        <button type="submit" class="signup-button">Зарегистрироваться</button>
    </form>

    <div class="link-to-login-block">
        <span>Уже есть аккаунт?</span>
        <a href="#" class="link-to-login">Вход</a>
    </div>
</div>
