.message{
    max-width: 480px;
    width: fit-content;
    height: fit-content;
    display: inline-flex;
    flex-direction: row;
    padding: 6px;
    border-radius: 8px;
    font-size: 20px;
    color: white;
    margin-top: 8px;
    align-self: flex-end;
}

.message-text{
    display: inline-flex;
    align-items: center;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.message-time, .message-read{
    display: inline-flex;
    align-items: end;
    font-size: 10px;
    margin: 0 2px;
    color: var(--color-text-secondary);
}

.myMessage{
    background-color: var(--color-accent-primary);
    align-self: flex-end;
}

.notMyMessage{
    background-color: #2D3137;
    align-self: flex-start;
}

.systemMessage{
    padding: 10px;
    background-color: rgba(217, 217, 217, 0.25);
    border-radius: 20px;
    display: inline;
    width: fit-content;
    font-size: 16px;
    color: white;
    align-self: center;
}

.sticker {
    background-color: transparent;
}

.sticker-message {
    max-width: 256px;
    max-height: 256px;
    object-fit: contain; 
    pointer-events: none;
}

.image-message {
    border-radius: 8px;
    max-width: 256px;
    max-height: 256px;
    object-fit: contain;
    pointer-events: none;
}

.subtext {
    display: flex;
    flex-direction: column;
}
